body {
  font-family: 'Poppins', sans-serif;
}

.active {
  border-bottom: 3px solid #ff2c1f;  
}

.nav-link:not(.active)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 2px;
  width: 0;
  height: 2px;
  background-color: #ff2c1f; 
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


.home {
  min-height: 100vh;
  background: url('../img/home3.jpg') center/cover no-repeat;
  position: relative;
}

.box {
  transition: transform 0.3s ease;
}
.box:hover {
  transform: translateY(-10px);
}

.social-icons a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.2);
  background-color: #fff;
  color: #ff2c1f;
  transition: 0.3s;
}
.social-icons a:hover {
  background-color: #ff2c1f;
  color: #fff;
}

footer p span {
  cursor: pointer;
}
